.cities {
  flex: 0.8;
  border: 1px solid black;
}
.City {
  color: rebeccapurple;
  margin-left: 300px;
  margin-bottom: 20px;
}
.inputCity {
  margin-bottom: 20px;
}

h1 {
  text-align: center;
}
h2 {
  font-weight: 500;
  color: blueviolet;
  margin-top: 10px;
  margin-bottom: 10px;
}
h3 {
  margin-top: 40px;
  margin-left: 500px;
  font-size: 20px;
  font-weight: 300;
  color: rgb(219, 26, 26);
}
h4 {
  font-size: 15px;
  font-weight: 200;
  color: green;
}
form {
  max-width: 500px;
  width: 80%;
  margin: 0 auto;
}
label,
input {
  font-weight: 300;
  margin-top: 10px;
  display: block;
  width: 100%;
}
label {
  margin-bottom: 5px;
  height: 22px;
}
input {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #777;
}
select {
  display: block;
  width: 105%;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #777;
}
input.error {
  border-color: red;
}
.input-feedback {
  color: red;
  font-weight: 200;
  margin-top: -15px;
  font-size: 14px;
  margin-bottom: 20px;
}
button {
  padding: 10px 15px;
  background-color: rgb(174, 150, 202);
  border: 1px solid rgb(21, 1, 36);
  border-radius: 5px;
  margin-left: 110px;
}

button:hover {
  cursor: pointer;
  background-color: blueviolet;
}

.whereSearch {
  display: flex;
  align-items: baseline;
}
.guests {
  color: rgb(41, 39, 39);
  font-weight: 200;
}
